@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

a{
    text-decoration: none;
}

.here {
    text-decoration: underline;
}

a{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1rem;
    font-weight: 900;
    color: rgb(0, 0, 0);
}

header h2{
    font-size: 1.7rem;
}
header{
    padding: 3vh 5vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav{
    display: none;
    gap: 6vw;
}

.btn-dropdown{
    background-color: white;
    border: none;
    font-size: 1.5rem;
}

@media screen and (min-width: 800px) {
    html{
        font-size: 18px;
    }
}
@media screen and (min-width: 1000px) {
    html{
        font-size: 20px;
    }
    .btn-dropdown{
        display: none;
    }
    nav{
        display: flex;
    }
}
@media screen and (min-width: 1500px) {
    html{
        font-size: 22px;
    }
    header{
        padding: 3vh 10vw;
    }
}